registry=https://registry.npmjs.org/  # Default registry

# Specific scope to Nexus
@iconslib:registry=https://artifacts-local.i2cinc.com/repository/dd-npm-private/
@webcomponents:registry=https://artifacts-local.i2cinc.com/repository/dd-npm-private/
//artifacts-local.i2cinc.com/repository/dd-npm-private/:_authToken=NpmToken.945d27da-49a1-34da-99f2-ab9274372824
@gsap:registry=https://npm.greensock.com/
//npm.greensock.com/:_authToken=e919eea3-4b33-4118-8426-140a3a8071c7
